USE [master]
GO
/****** Object:  Database [ColegioSanJoseDB]    Script Date: 27/04/2026 07:05:33 p. m. ******/
CREATE DATABASE [ColegioSanJoseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ColegioSanJoseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ColegioSanJoseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ColegioSanJoseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ColegioSanJoseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ColegioSanJoseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ColegioSanJoseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/04/2026 07:05:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 27/04/2026 07:05:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[AlumnoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[Grado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expedientes]    Script Date: 27/04/2026 07:05:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedientes](
	[ExpedienteId] [int] IDENTITY(1,1) NOT NULL,
	[AlumnoId] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
	[NotaFinal] [decimal](5, 2) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_Expedientes] PRIMARY KEY CLUSTERED 
(
	[ExpedienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 27/04/2026 07:05:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[MateriaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [nvarchar](100) NOT NULL,
	[Docente] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426025925_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([AlumnoId], [Nombres], [Apellidos], [FechaNacimiento], [Grado]) VALUES (1, N'David ', N'Leiva', CAST(N'1996-08-05T00:00:00.0000000' AS DateTime2), N'Bachillerato')
INSERT [dbo].[Alumnos] ([AlumnoId], [Nombres], [Apellidos], [FechaNacimiento], [Grado]) VALUES (2, N'Elizabeth', N'Ayala', CAST(N'1999-04-10T00:00:00.0000000' AS DateTime2), N'Bachillerato')
INSERT [dbo].[Alumnos] ([AlumnoId], [Nombres], [Apellidos], [FechaNacimiento], [Grado]) VALUES (3, N'Carlos', N'Martinez', CAST(N'1990-05-15T00:00:00.0000000' AS DateTime2), N'Primero')
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Expedientes] ON 

INSERT [dbo].[Expedientes] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (2, 1, 2, CAST(10.00 AS Decimal(5, 2)), N'No observaciones')
INSERT [dbo].[Expedientes] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (3, 2, 3, CAST(10.00 AS Decimal(5, 2)), NULL)
INSERT [dbo].[Expedientes] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (4, 2, 2, CAST(10.00 AS Decimal(5, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Expedientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([MateriaId], [NombreMateria], [Docente]) VALUES (2, N'Matematicas', N'David Leiva ')
INSERT [dbo].[Materias] ([MateriaId], [NombreMateria], [Docente]) VALUES (3, N'Quimica', N'Sofia')
INSERT [dbo].[Materias] ([MateriaId], [NombreMateria], [Docente]) VALUES (4, N'Sociales', N'David')
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
/****** Object:  Index [IX_Expedientes_AlumnoId]    Script Date: 27/04/2026 07:05:33 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Expedientes_AlumnoId] ON [dbo].[Expedientes]
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expedientes_MateriaId]    Script Date: 27/04/2026 07:05:33 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Expedientes_MateriaId] ON [dbo].[Expedientes]
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_Alumnos_AlumnoId] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Alumnos] ([AlumnoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_Alumnos_AlumnoId]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_Materias_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materias] ([MateriaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_Materias_MateriaId]
GO
USE [master]
GO
