@{
    ViewData["Title"] = "Inicio";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> Sistema de Gestión Académica</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Alumnos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Gestión de Alumnos</div>
                        <a href="/Alumnos" class="btn btn-primary btn-sm mt-3">Ver Alumnos</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Materias</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Gestión de Materias</div>
                        <a href="/Materias" class="btn btn-success btn-sm mt-3">Ver Materias</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Expedientes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Gestión de Expedientes</div>
                        <a href="/Expedientes" class="btn btn-warning btn-sm mt-3">Ver Expedientes</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>